{"http_interactions":[{"request":{"method":"get","uri":"https://api.forecast.io/forecast/FORECAST_IO_APIKEY/42.7243,-73.6927?units=si","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "X-Hostname":["judgement"], "X-Forecast-Api-Calls":["5"], "Etag":["\"945308359\""], "X-Response-Time":["218ms"]},"body":{"encoding":"UTF-8","string":"{\"latitude\":42.7243,\"longitude\":-73.6927,\"timezone\":\"America/New_York\",\"offset\":-4,\"currently\":{\"time\":1399378225,\"summary\":\"Mostly Cloudy\",\"icon\":\"partly-cloudy-day\",\"nearestStormDistance\":37,\"nearestStormBearing\":259,\"precipIntensity\":0,\"precipProbability\":0,\"temperature\":7.82,\"apparentTemperature\":7.82,\"dewPoint\":2.46,\"humidity\":0.69,\"windSpeed\":0.03,\"windBearing\":22,\"visibility\":16.09,\"cloudCover\":0.73,\"pressure\":1013.81,\"ozone\":393.8},\"minutely\":{\"summary\":\"Mostly cloudy for the hour.\",\"icon\":\"partly-cloudy-day\",\"data\":[{\"time\":1399378200,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1399378260,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1399378320,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1399378380,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1399378440,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1399378500,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1399378560,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1399378620,\"[...]
