{"http_interactions":[{"request":{"method":"get","uri":"https://api.forecast.io/forecast/FORECAST_IO_APIKEY/42.7243,-73.6927?units=si","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "X-Forecast-Api-Calls":["2"], "Etag":["\"-620185316\""], "X-Response-Time":["336ms"]},"body":{"encoding":"UTF-8","string":"{\"latitude\":42.7243,\"longitude\":-73.6927,\"timezone\":\"America/New_York\",\"offset\":-5,\"currently\":{\"time\":1385234440,\"summary\":\"Mostly Cloudy\",\"icon\":\"partly-cloudy-day\",\"precipIntensity\":0,\"precipProbability\":0,\"temperature\":4.449999999999999,\"apparentTemperature\":-0.19999999999999968,\"dewPoint\":-4.177777777777777,\"humidity\":0.53,\"windSpeed\":7.014057599999999,\"windBearing\":251,\"visibility\":16.09344,\"cloudCover\":0.64,\"pressure\":1011.86,\"ozone\":323.86},\"minutely\":{\"summary\":\"Drizzle in 50 min.\",\"icon\":\"rain\",\"data\":[{\"time\":1385234400,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1385234460,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1385234520,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1385234580,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1385234640,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1385234700,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1385234760,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1385234820,\"[...]
